body {
    margin: 0;
    padding: 0;
    /* background-image: url(Assets/PurpleSparklyBG_HTML.jpg);
    background-repeat: repeat; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}

.container-header{
    /* position: fixed; */
    background: white;
}


/* HEADER */

#name{
    margin: 20px;
    font-family: 'Lucida Sans Regular';
    color: #D764EF;
    text-align: center;
}

#tagline{
    margin :20px;
    font-family: 'Lucida Sans';
    color:#CA7FF5;
    text-align: center;
}

/* #line{
    color: #48ACE4;
} */

/* NAVBARRR */
nav ul {
    background-color: #F3B3F5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    gap: 230px;
    display:flex;
    padding: 20px;
    /* margin: 20px; */

}

nav ul li a {
    text-decoration: none;
    color: #4e086e;
    
}

/* untuk filter */



.filter ul li a {
    text-decoration: none;
    color: #6a009b;
}


.filter ul {
    background-color: #F3B3F5;
    /* background-image: url("Assets/PurpleBackground-_HTML.jpg"); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 230px;
    display:flex;
    padding: 30px;
    margin: 50px;
    /* margin: 20px; */

}



/* CONTENT */

.learn{
    margin: 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    background-color:#E8AEF5;
    padding: 30px;
    color: #612181;
    letter-spacing: 2px;
}


.content-learn{
    font-family: 'Lucida Sans';
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}


/* Accounting - CONTENT 1 */
.learn-1{
    background-color: #F3B3F5;
    margin: 50px;
    padding: 30px;
    border: 5 px;
    border-radius: 10px;
    width: auto;
    height: auto;

}


.accounting-video{
    width: 400px;
    height: auto;
    padding: 30px;
}

.accounting-offer-details{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 15px;
    color: #612181;
}

#accounting-class{
    text-align: center;
    background-color: #bf6af1;
    padding: 10px;
    border-radius: 20px;
}

.accounting-text-details h3{
    text-align: center;
    flex: 1;
    width: auto;
    height: auto;
    font-family: 'Lucida Sans';
}

.accounting-text-details{
    text-align: left;
    flex: 1;
    width: auto;
    height: auto;
    font-family: 'Lucida Sans';
}

#accounting-teacher{
    text-align: center;
    background-color: #f5cfff;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
}

.learn-2{
    background-color: #F3B3F5;
    margin: 50px;
    padding: 30px;
    border: 5 px;
    border-radius: 10px;
    width: auto;
    height: auto;

}


/* FOOTER */
footer{
    background-color: #464659;
    padding: 20px;
    text-align: left;
}

.container-footer{
    color: #D8A5E1;
}

.footers{
    font-family: 'Times New Roman';
    color: #D8A5E1;
    margin-bottom: 30px;
}

footer ul{
    list-style: none;
    display:list-item;

}

footer ul li a{
    color: white;
    text-decoration: none;
}



/* for tablet & desktop */
@media screen and (max-width: 1200px) {

    .container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .filter ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: row;
        align-items: center;
    }

    .filter ul li {
        margin-bottom: 10px;
    }
}

/* for mobile  */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        margin-bottom: 5px;
    }

    .filter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .filter ul {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .filter ul li {
        margin-bottom: 5px;
    }

    .content-learn{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        gap: 70px
    }

    .accounting-video{
        width: 80%;
        height: 100%;
    }


    .learn-1{
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }


    .learn-2{
        flex-direction: row;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }


}